/* Global Styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

*, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
}

:root {
    --pink: #fa2a65;
    --white: #ffffff;
    --darkblue: #2d597f;
    --bluegray: #83a7ba;
    --lightgray: #c2dcfc;
    --darkpink: #c72956;
}

button {
    cursor: pointer;
}

.pink-btn {
    padding: 10px 30px;
    background-color: var(--pink);
    color: var(--white);
    font-weight: 500;
    border: none;
}

.pink-btn:hover {
    background-color: var(--darkpink);
}
/* -------------------------------------- */

/* Navigation */
#logo, .nav-menu-btn {
    text-align: center;
}

.rounded {
    border-radius: 20px;
    text-transform: uppercase;
}

#logo {
    color: #fff;
    padding: 20px 0;
}

#logo h2 {
    font-family: 'Playfair Display';
    font-size: 2em;
}

.small-logo-text {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.nav-menu-btn button {
    color: #fff;
    min-width: 110px;
    margin: 0 10px;
    padding: 8px 10px;
    border: .5px solid #f4f4f4;
    background-color: rgba(0, 0, 0, 0);
}
/* -------------------------------------- */

/* Hero */
#hero {
    background-image: url(./images/woman-doing-crossfit.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
    position: relative;
    z-index: 100;
}

#hero-content {
    margin-top: 80px;
    margin-left: 10%;
}

#hero-content>* {
    margin-bottom: 10px;
}

#hero-content h1, #hero-content h3 {
    color: var(--white);
}

#hero-content h1 {
    font-size: 2.2em;
    font-family: 'Poppins', sans-serif;
}

#hero-content button {
    margin-top: 40px;
}

.larger-text {
    font-size: 2em;
    font-family: 'Playfair';
}
/* -------------------------------------- */

/* Section Two */
#sectionTwo {
    background-image: url(./images/deadlifting.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: var(--white);
    position: relative;
    z-index: 99;
}

.content-wrap {
    position: absolute;
    /* top: 50px; */
    width: 80%;
    right: 0;
}

#sectionTwo .content-wrap {
    margin-top: 20%;
}

#sectionTwo .content-wrap .section-title h3 {
    font-size: 1.8em;
}

#sectionTwo .section-tabs .rows {
    display: flex;
    margin: 10px 0;
}

#sectionTwo .section-tabs .rows .icon {
    position: relative;
    background-color: var(--pink);
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

#sectionTwo .section-tabs .rows .icon i {
    font-size: 2em;
    padding-top: 5px;

}

#sectionTwo .section-tabs .rows .icon i::before {
    vertical-align: middle;
}

#sectionTwo .section-tabs .rows .icon-info {
    background-color: var(--darkblue);
    padding: 8px;
}

#sectionTwo .section-tabs .rows .icon-info h5 {
    font-size: 20px;
    font-weight: bold;
}

#sectionTwo .section-tabs .rows .icon-info p {
    font-size: 14px;
}

.fa-hand-holding-heart {
    font-size: 1.6em !important;
}

/* #sectionTwo .rows .icon, #sectionTwo .rows .icon-info {
    display: inline-block;
} */

/* -------------------------------------- */

/* Section Three */
#sectionThree {
    background: rgb(176,211,255);
    background: linear-gradient(36deg, rgba(176,211,255,1) 0%, rgba(224,224,224,1) 48%, rgba(254,254,254,1) 100%);
}

#sectionThree .content-wrap {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
    position: relative;
}

#sectionThree .content-wrap .flex {
    display: flex;
    flex-direction: column;
}

#sectionThree .content-wrap .section-text {
    width: 80%;
    margin: auto;
}

#sectionThree .content-wrap .section-text h3 {
    font-size: 1.8em;
}

#sectionThree .workout-icons .circle-icon {
    background-color: var(--bluegray);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
}

#sectionThree .workout-icons {
    margin-top: 10px;
}

#sectionThree .workout-icons .circle-icon img {
    padding-top: 15px;
}

#sectionThree .workout-icons h4 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Playfair Display';
    margin-top: 5px;
}

/* -------------------------------------- */

/* Section Four */
#sectionFour {
    background-image: url(./images/woman-back.jpg);
    background-position: center center;
    background-size: cover;
    height: 50vh;
    position: relative;
}

#sectionFour .content-wrap {
    color: var(--white);
    width: 100%;
    position: relative;
    margin: auto;
    top: 15%;
    width: 90%;
}

#sectionFour .content-wrap h3 {
    font-size: 1.8em;
}

#sectionFour .content-wrap button {
    margin-top: 30px;
}

#sectionFour .content-wrap p {
    margin-top: 10px;
}

/* -------------------------------------- */

/* Section Five */
#sectionFive {
    background: rgb(194,220,252);
    background: linear-gradient(156deg, rgba(194,220,252,1) 0%, rgba(224,224,224,1) 56%, rgba(254,254,254,1) 100%);
    height: 60vh;
    position: relative;
}

#sectionFive .content-wrap {
    top: 10%;
    width: 90%;
    position: relative;
    margin: auto;
    text-align: center;
}

#sectionFive .content-wrap h3 {
    font-size: 1.8em;
    line-height: 1.1em;
}

#sectionFive .content-wrap p {
    margin: 10px 0 0 0;
}

#sectionFive .content-wrap .price {
    margin: 25px 0 20px 0;
    text-align: center;
}

#sectionFive .xl-text {
    font-size: 2.5em;
    font-weight: 900;
}

#sectionFive button {
    width: 80%;
}

/* -------------------------------------- */

/* Section Six */
#sectionSix {
    background-image: url(./images/guy-bicep-curls.jpg);
    background-position: center center;
    background-size: cover;
    height: 75vh;
    position: relative;
}

#sectionSix .content-wrap {
    color: var(--white);
    top: 40%;
    width: 90%;
    position: relative;
    margin: auto;
}

#sectionSix .content-wrap h4 {
    font-size: 1.6em;
    font-weight: 600;
    font-family: 'Playfair Display';
}

#sectionSix .content-wrap h5 {
    font-size: 1.3em;
    font-weight: 500;
}

#sectionSix .content-wrap>* {
    margin-bottom: 10px;
}
/* -------------------------------------- */

/* Section Seven */
#sectionSeven {
    background-image: url(./images/woman-stretching-medicine-ball.jpg);
    background-position: center center;
    background-size: cover;
    height: 75vh;
    position: relative;
}

#sectionSeven .filter {
    background-color: rgba(63, 63, 63, 0.349);
    height: 100%;
    width: 100%;
}

#sectionSeven .content-wrap {
    color: var(--white);
    top: 40%;
    text-align: center;
    width: 90%;
    position: relative;
    margin: auto;
}

#sectionSeven .content-wrap h3 {
    font-size: 1.8em;
}

#sectionSeven .content-wrap>* {
    margin-bottom: 10px;
}

#sectionSeven .content-wrap button {
    width: 80%;
}

/* -------------------------------------- */

/* Footer */
#footer {
    background-color: var(--darkblue);
    position: relative;
    padding: 20px 0;
}

#footer h2 {
    font-size: 2em;
    text-align: center;
    color: var(--white);
    font-family: 'Playfair Display';
    margin-bottom: 10px;
}

#footer .socials {
    display: flex;
    width: 50%;
    margin: auto;
}

#footer .socials .social-icon {
    text-align: center;
    flex: 1;
}

#footer .socials .social-icon a {
    color: var(--white);
    font-size: 12px;
}

.copyright {
    color: var(--white);
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
}

/* -------------------------------------- */

/* .navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 150px;
}

.nav-menu-btn {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
} */